---
import Layout from "../components/Layout.astro";
import Homepage from "src/components/Homepage.astro";
---

<Layout title="Hoopdex">
	<Homepage/>
	<div class="hidden lg:flex 2xl:hidden">
	</div>
</Layout>
